<div class="container">
    <form action="">  
 

        <table> 
            <tr> 
                <td>NAME</td> 
                <td>TEAM</td> 
                <td>STACK</td> 
                <td>GENDER</td> 
                <td>CRUD</td> 
            </tr> 
            <tr> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
            </tr>   
        </table>
        <button href="/register">  REGISTER</button><br>  
        
        </form>
</div>